body {
    font-family: 'Lato', sans-serif !important;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    transition: all 150ms;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.markdown h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
}

.markdown h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.markdown h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}
